.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ant-table {
  border: 0.01px solid  #c7c7c7 !important; /* Example: change table border */
}

.ant-table th.ant-table-cell {
  background-color: #1D4ED8 !important; /* Use !important if necessary */
  color: #FFFFFF !important; /* Use !important if necessary */
}


.ant-table td {
  padding: 16px; /* Change cell padding */
  font-size: 14px; /* Change font size */
}

.ant-btn {
  background-color: #007bff; /* Change button background */
  color: #fff; /* Change button text color */
}
